h1 {
    text-align: center;
}

.recipe {
    text-align: center;
    font-size: 20px;
}

a {
    text-decoration: none;
}

a:visited {
    color: blue;
}

ul{
    list-style-type: none;
}

li {
    margin: 20px;
}